# package files
dist/
node_modules/
package-lock.json
yarn.lock

# IDE files
.vscode/*
!.vscode/*.example.jsonc
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/settings.json

# temp files
tmp

# build files
*.tgz
stats.html

# logs
debug.log

# test coverage
coverage/
.nyc_output/

# histoire
.histoire/

# images
*.png
*.jpg
