.ink-pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: sys-var(space, xs);

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    min-height: 36px;
    border: 1px solid sys-var(color, border, base);
    background-color: sys-var(color, surface, subtle);
    color: sys-var(color, text, base);
    cursor: pointer;
    transition:
      background-color 0.2s ease,
      border-color 0.2s ease,
      opacity 0.2s ease;
    border-radius: sys-var(radius, none);
    @include apply-icon(md);

    &:hover:not(:disabled) {
      background-color: sys-var(color, surface, subtle-hover);
    }
  }

  &__page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    padding: 0.25em;
    min-height: 36px;
    border: 1px solid transparent;
    background-color: transparent;
    color: sys-var(color, text, base);
    cursor: pointer;
    transition:
      border-color 0.2s ease,
      background-color 0.2s ease;
    border-radius: sys-var(radius, none);
    @include apply-font(label-lg);

    &:hover:not(:disabled):not(&--active) {
      border-color: sys-var(color, border, base);
    }

    &--active {
      border-color: sys-var(color, surface, primary);
      background-color: sys-var(color, surface, primary);
      color: sys-var(color, text, on-primary);
      cursor: default;
    }

    &--ellipsis {
      cursor: default;
      border: none;
    }
  }

  &__page-info {
    color: sys-var(color, text, base);
    padding: 0 sys-var(space, md);
    @include apply-font(label-md);
  }
}

.ink-pagination :is(button):focus-visible {
  outline: 2px solid sys-var(color, border, strong);
  outline-offset: 2px;
}
