.ink-popup {
  margin: 0;
  box-sizing: border-box;
  @include apply-font(body-sm);
  border: 0;
  color: sys-var(color, text, base);
  overflow: auto;

  &::backdrop {
    background: sys-var(color, overlay, scrim);
  }
  position: fixed;
  z-index: 10;
  background-color: sys-var(color, surface, base);
  padding: sys-var(space, md);
  max-height: 90vh;
  max-width: 90vw;

  &--center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--left {
    top: 50%;
    left: sys-var(space, md);
    transform: translateY(-50%);
    max-width: calc(50vw - sys-var(space, md));
  }

  &--right {
    top: 50%;
    right: sys-var(space, md);
    transform: translateY(-50%);
    max-width: calc(50vw - sys-var(space, md));
  }

  &--top {
    top: sys-var(space, md);
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(100vw - 2 * sys-var(space, md));
  }

  &--bottom {
    bottom: sys-var(space, md);
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(100vw - 2 * sys-var(space, md));
  }
}
