.ink-json-editor {
  border: 1px solid sys-var(color, border, base);
  transition: border-color 0.15s ease;
  padding: sys-var(space, sm);

  &__editor {
    height: 100%;
    box-sizing: border-box;

    :deep(.cm-editor) {
      border: none;
      outline: none;
      height: 100%;
    }

    :deep(.cm-scroller) {
      @include apply-font(label-lg, mono);
    }

    &--readonly {
      :deep(.cm-editor) {
        background: sys-var(color, surface, subtle);
      }
    }
  }

  &:focus-within {
    outline: 2px solid sys-var(color, border, strong);
    outline-offset: 2px;
  }
}
