.ink-auto-form {
  &__error {
    padding: sys-var(space, md);
    background-color: sys-var(color, surface, subtle);
    color: sys-var(color, feedback, error);
    border-radius: sys-var(radius, md);
    @include apply-font(body-sm);
  }

  &__field {
    position: relative;
  }

  &__field-errors {
    display: flex;
    flex-direction: column;
    gap: sys-var(space, xs);
    margin-top: sys-var(space, xs);
  }

  &__field-error {
    overflow-wrap: anywhere;
    color: sys-var(color, feedback, error);
    @include apply-font(body-sm);
  }
}
